{namespace downloads=Tx_Downloads_ViewHelpers} 

<div class="tx-downloads-item">
  <div class="tx-downloads-image-container">
    <f:link.action action="download" arguments="{id:download.uid, filename:download.linkText}" title="Last changed: {f:format.date(date:'@{download.fileTime}' format:'Y-m-d H:i:s')}">
      <downloads:thumbnail
        src="{download.fileName}"
        title="{mediaElement.title}"
        alt="{mediaElement.title}"
        maxWidth="130"
        maxHeight="130"
        class="tx-downloads-image"
      />
    </f:link.action>
  </div>
  
  <div class="tx-downloads-text">
    <h3>{download.title}</h3>
    <f:if condition="{download.description}">
      <p class="tx-downloads-description"><f:format.html>{download.description}</f:format.html></p>
    </f:if>
    
    <div class="tx-downloads-link">
      <f:link.action action="download" arguments="{id:download.uid, filename:download.linkText}" title="Last changed: {f:format.date(date:'@{download.fileTime}' format:'Y-m-d H:i:s')}">
        <downloads:typeIcon 
          filename="{f:uri.resource(path:download.fileName)}"
          title="{download.fileType}"
          alt="{download.fileType}"
          class="tx-downloads-type"
        />{download.linkText}
      </f:link.action> (<downloads:fileSize bytes="{download.fileSize}" />)
    </div>
    
    <div class="tx-downloads-installnotes">
      <f:format.html>{download.installNotes.notes}</f:format.html>
    </div>
  </div>
</div>