<div class="tx-downloads-item">
<div>{download.t3ManagedFields}</div>
<div>{download.title}</div>
<div>{download.filename}</div>
<div>{download.imageOverride}</div>
<div>{download.downloadCategory}</div>
<div>{download.qualifier}</div>
<div>{download.description}</div>
<div>{download.installNote}</div>
<div>{download.fileSize}</div>
<div>{download.fileType}</div>
<div>{download.fileTime}</div>
<div>{download.t3CommonFields}</div>
<div>{download.t3VersioningFields}</div>
<div>{download.t3TranslationFields}</div>
</div>
