{namespace downloads=Tx_Downloads_ViewHelpers}
<f:layout name="Default" />
<f:section name="main">
  <f:if condition="{debug}">
    <f:debug>{debug}</f:debug>
  </f:if>
  <f:flashMessages class="flashMessages" />
  <f:comment>Iterate over all accesses, grouped by FE user.</f:comment>
  <div class="stats">
    <f:render partial="Graph" arguments="{graphId: 'tx-downloads-stats-graph-{graphId}', graphingData: graphingData, graphingLabels: graphingLabels}" />
  </div>
  <script language="javascript">
    graphByReferrer( "tx-downloads-stats-graph-{graphId}" );
  </script>

  <span class="performance">{perf}s</span>
</f:section>